html, body{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow:hidden;
    font-family:Helvetica, sans-serif;
}

h1,h2,h3,h4,h5,h6{
    font-size: 5em;
    font-family: 'Quicksand', sans-serif;
    font-weight: 100;
}


div.left{
    float: left;
}
div.right{
    float: right;
}

div.clear{
    clear: both;
}

#map{
    width: 100%;
    height: 100%;
}

#dialog{
    color: #fff;
    z-index:999;
    position: absolute;
    background: rgba(0,0,0,.6);
    border: 1px solid #000;
    height: 30em;
    width: 60em;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow-y: auto;
}

#dialog-close{
    cursor: pointer;
    background: url('images/close.png');
    background-size: 32px 32px;
    position: absolute;
    top: 3px;
    right: 0;
    height: 32px;
    width: 32px;
}

#dialog::-webkit-scrollbar {
    width: 14px;
    height: 16px;
    overflow: visible;
}
#dialog::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, .8);
    background-clip: padding-box;
    min-height: 28px;
    padding: 100px 0 0;
}
#dialog::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, .4);
    background-clip: padding-box;
    border: solid transparent;
}
#dialog::-webkit-scrollbar-button {
    height: 0;
    width: 0;
}
#dialog::-webkit-scrollbar-corner {
    background: transparent;
}

#dialog-inner{
    padding:0 2em;
}

#dialog.side{
    right: 20px;
    left: auto;
}

#config{
}

#config > div{
    display:none;
}

#overlay{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 10em;
    background: rgba(0,0,0,.6);
    color: #fff;
}

#overlay .jslider .jslider-value{
    display:none !important;
}

#overlay > div{
    width: 16em;
    padding: 0 2em;
}

div#overlay-product{
    text-align:center;
    float: none;
    width: 140em;
}

div#overlay-result{
    text-align: right;
    width: 40em;
}

#overlay .readout{
    font-size: 5em;
    font-family: 'Quicksand', sans-serif;
    font-weight: 100;
}

#overlay .readout-small{
    font-size: 2em;
    font-family: 'Quicksand', sans-serif;
    font-weight: 100;
}

div.select{
    display:inline-block;
    width: 32px;
    height: 32px;
    opacity: .2;
    background-size: 32px 32px;
}

div#supplychain-list{
    background:url('images/arrow.png') top right no-repeat;
}

div#receipt{
    background:url('images/page.png') top right no-repeat;
}

