html, body{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow:hidden;
    font-family:Helvetica, sans-serif;
}

div.left{
    float: left;
}
div.right{
    float: right;
}

div.clear{
    clear: both;
}

#map{
    width: 100%;
    height: 100%;
}

#config{
}

#config > div{
    display:none;
}

#overlay{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 10em;
    background: rgba(0,0,0,.6);
    color: #fff;
}

#overlay .jslider .jslider-value{
    display:none !important;
}

#overlay > div{
    width: 16em;
    padding: 0 2em;
}

div#overlay-product{
    text-align:center;
    float: none;
    width: 140em;
}

div#overlay-result{
    text-align: right;
    width: 40em;
}

#overlay .readout{
    font-size: 5em;
    font-family: 'Quicksand', sans-serif;
    font-weight: 100;
}

#overlay .readout-small{
    font-size: 2em;
    font-family: 'Quicksand', sans-serif;
    font-weight: 100;
}

div.select{
    display:inline-block;
    width: 32px;
    height: 32px;
    opacity: .2;
    background-size: 32px 32px;
}

div#supplychain-list{
    background:url('images/arrow.png') top right no-repeat;
}

div#receipt{
    background:url('images/page.png') top right no-repeat;
}

